.weather_container {
    display: flex;
    flex-direction: row;
}

.weather_thumbnail {
    border: .2em solid green;
    flex: 1;
    padding: 1em;
}

.weather_link-description {
    border: .2em solid purple;
    flex: 4;
    padding: 1em;
}