.container_list-view {
    border: .2em solid blue;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 16px;
    margin: 0 1em 0 0;
    padding: 2em;
}

.target_detail-view {
    border: .2em solid red;
    flex-grow: 15;
    padding: 2em;
}