p {
    height: 5em;
    padding: 1em;
}

.alphaVantage_sectorDiv-container {
    border: 3px solid purple;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
}

.sector_div {
    background-color: orange;
    display: block;
    height: 20%;
    margin: 1%;
    width: 48%;
}